/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
body {
	font-size:14px;
}

.wrap {
	width:1000px;
}

/*********************
HEADER STYLES
*********************/
.page-header {
	position:fixed;
	width:100%;
	top:0;
	left:0;
	& > .inner-header {
		margin:0 auto;
	}
}

#logo {
	position:relative;
	width:auto;
	height:auto;
	a {
		text-indent:-9999px;
		height:150px;
		position:relative;
		@include box-sizing;
		@include transition(height .35s);
		.desktop-logo {
			position:absolute;
			left:0;
			bottom:0;
			display:block;
			background:url(../images/ampersand-logo.png) no-repeat 0 100%;
			width:185px;
			height:100%;
			/*background:url(../images/hairlines_140px.png) no-repeat 0 100%;
			width:266px;
			height:140px;*/
			background-size:100%;
			@include transition(width .35s);
		}
		.logo-text {
			position:absolute;
			left:340px;
			width:535px;
			max-width:none;
			height:100%;
			@include transition(width .35s);
		}
	}
}
body.scrolled {
	#logo {
		a {
			height:70px;
			.desktop-logo {
				width:90px;
			}
			.logo-text {
				width:420px;
			}
		}
	}
	#content {
		padding-top:70px;
	}
}
/*********************
NAVIGATION STYLES
*********************/
#content {
	padding-top:150px;
	@include transition(padding .35s);
	#inner-content {
		margin:0 auto;
	}
}
.main-nav {
	left:0;
	position:static;
	height:auto;
	.top-nav {
		overflow:visible;
		& > li {
			float:none;
			a {
				background:$light-gray;
				color:$black;
				margin-top:0;
				margin-bottom:-1px;
				padding:12px 15px;
				@include transition(color 0.35s ease-in-out, background-color 0.35s ease-in-out);
				&:hover {
					text-decoration:none;
					background-color:$red;
					color:$white;
				}
			}
		}
	}
}

.trigger-nav {
	display:none;
}

/*********************
POSTS & CONTENT STYLES
*********************/
#main {
	width:660px;
	margin:0;
	padding:35px 20px 20px 0;
	border-right:1px solid $border-color;
	.hentry {
		border:0;
		@include border-radius(0);
	}
}
.thumb-grid {
	.thumbs {
		& > li {
			width:165px;
			height:299px;
			font-size:11px;
			a {
				&:hover {
					background-color:$gray;
				}
			}
			.item-thumb-container {
				height:240px;
			}
			.item-text-container {
				display:block;
				height:45px;
			}
			.item-title {
				max-height:100%;
				overflow:hidden;
				display:block;
				@include v-center;
			}
		}
	}
	.thumb-grid-nav {
		a {
			padding-left:6px;
			padding-right:6px;
			@include transition(background-color .35s, color .35s, opacity .35s);
			&:after {
				@include transition(border-color .35s);
			}
			&.prev {
				padding-left:6px;
				padding-right:8px;
				&:hover {
					&:after {
						border-right-color:$white;
					}
				}
			}
			&.next {
				padding-left:8px;
				padding-right:6px;
				&:hover {
					&:after {
						border-left-color:$white;
					}
				}
			}
			&:hover {
				background-color:$red;
				color:$white;
			}
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	border-width:0 1px;
	width:320px;
}

/*********************
FOOTER STYLES
*********************/
.footer-links {
	display:block;
	float:right;
	.footer-nav {
		li {
			float:left;
			a {
				letter-spacing:3px;
				text-decoration:none;
				color:#fff;
				font-size:10px;
				height:40px;
				line-height:40px;
				padding:0 10px;
				&:hover {
					background:darken($red, 10%);
				}
			}
		}
	}
} /* end .footer-links */

.copyright {
	float:left;
}